<html>

<head>
    <title>JQuery.RecurrenceInput Demo</title>

    <link type="text/css" href="jquery.tools.dateinput.css" rel="stylesheet"></link>
    <link type="text/css" href="jquery.recurrenceinput.css" rel="stylesheet"></link>
    <link type="text/css" href="overlays.css" rel="stylesheet"></link>

    <script type="text/javascript" src="../lib/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="../lib/jquery.tmpl-beta1.js"></script>
    <script type="text/javascript" src="../lib/jquery.tools.dateinput-1.2.5.js"></script>
    <script type="text/javascript" src="../lib/jquery.tools.overlay-1.2.5.js"></script>
    <script type="text/javascript" src="../lib/jquery.tools.toolbox.expose-1.2.5.js"></script>
    <script type="text/javascript" src="../src/jquery.recurrenceinput.js"></script>

    <script id="jquery-recurrenceinput-display-tmpl" type="text/x-jquery-tmpl">
        <div class="${classname}">
            <div class="${classname_display}">
                <input type="checkbox" name="${classname_display}" />
                {{if field.display_text != null}}
                <label>${field.display_label_activate}</label>
                <span class="${classname_display_text}">
                    ${field.display_text}
                </span>
                {{else}}
                <label>${field.display_label_unactivate}</label>
                {{/if}}
            </div>
        </div>
    </script>

    <script id="jquery-recurrenceinput-form-tmpl" type="text/x-jquery-tmpl">
        <div class="${classname_form}">
            <form>

                <ul class="${classname_freq}">
                    <li>
                        <input type="radio" class="freq"
                               id="${field.freq_daily_id}"
                               name="${field.freq_daily_name}"
                               value="{field.freq_daily}" />
                        <label>${i18n.freq_daily}</label>
                    </li>
                    <li>
                        <input type="radio" class="freq"
                               id="${field.freq_weekly_id}"
                               name="${field.freq_weekly_name}"
                               value="{field.freq_weekly}" />
                        <label>${i18n.freq_weekly}</label>
                    </li>
                    <li>
                        <input type="radio" class="freq"
                               id="${field.freq_monthly_id}"
                               name="${field.freq_monthly_name}"
                               value="{field.freq_monthly}" />
                        <label>${i18n.freq_monthly}</label>
                    </li>
                    <li>
                        <input type="radio" class="freq"
                               id="${field.freq_yearly_id}"
                               name="${field.freq_yearly_name}"
                               value="{field.freq_yearly}" />
                        <label>${i18n.freq_yearly}</label>
                    </li>
                </ul>

                <div class="${classname_freq_options}">

                    <div class="${classname_freq_daily}">
                        <label>Every <input type="text" value="1" size="2"
                            name="${classname_daily_interval}"/>
                            days.</label>
                    </div>

                    <div class="${classname_freq_weekly}">
                        <span>Every</span>
                        <input type="text" size="2" value="1" originalvalue="1"
                            name="${classname_weekly_interval}" />
                        <span>week(s) on:</span>

                        <ul class="${classname_weekly_weekdays}">
                        {{each weekdays}}
                            <li>
                                <input type="checkbox"
                                       id="${classname_weekly_weekdays}_${$value.id}"
                                       name="${classname_weekly_weekdays}"
                                       value="${$value.id}" />
                                <label for="${classname_weekly_weekdays}_${$value.id}">
                                    ${$value.title}
                                </label>
                            </li>
                        {{/each}}
                        </ul>
                    </div>

                    <div class="${classname_freq_monthly}">
                        <ul>
                            <li>
                                <input type="radio" value="DAY_OF_MONTH"
                                    name="${classname_monthly_type}" />
                                <span>Day</span>
                                <select name="${classname_monthly_dayofmonth_day}">
                                {{each [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,
                                        18,19,20,21,22,23,24,25,26,27,28,29,30,31]}}
                                    <option value="${$value}">${$value}</option>
                                {{/each}}
                                </select>
                                <span>of the month, every</span>
                                <input type="text" size="2" value="1" 
                                    name="${classname_monthly_dayofmonth_interval}"/>
                                <span>month(s).</span>
                            </li>
                            <li>
                                <input type="radio" value="WEEKDAY_OF_MONTH" 
                                    name="${classname_monthly_type}" />
                                <span>The</span>
                                <select name="${classname_monthly_weekdayofmonth_index}">
                                    <option selected="selected" value="+1">First</option>
                                    <option value="+2">Second</option>
                                    <option value="+3">Third</option>
                                    <option value="+4">Fourth</option>
                                    <option value="-1">Last</option>
                                </select>
                                <select name="${classname_monthly_weekdayofmonth}">
                                {{each weekdays}}
                                    <option value="${$value.id}">${$value.title}</option>
                                {{/each}}
                                    <option value="WEEKDAY">Weekday</option>
                                    <option value="WEEKEND_DAY">Weekend Day</option>
                                </select>
                                <span>, every</span>
                                <input type="text" size="2" value="1"
                                    name="${classname_monthly_weekdayofmonth_interval}" />
                                <span>month(s).</span>
                            </li>
                        </ul>
                    </div>

                    <div class="${classname_freq_yearly}">
                        <ul>
                            <li>
                                <input type="radio" value="DAY_OF_MONTH"
                                    name="${classname_yearly_type}" />
                                <span>Every</span>
                                <select name="${classname_yearly_dayofmonth_month}">
                                {{each months}}
                                    <option value="${$index+1}">${$value}</option>
                                {{/each}}
                                </select>
                                <select name="${classname_yearly_dayofmonth_day}">
                                {{each [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,
                                        18,19,20,21,22,23,24,25,26,27,28,29,30,31]}}
                                    <option value="${$value}">${$value}</option>
                                {{/each}}
                                </select>
                            </li>
                            <li>
                                <input type="radio" value="WEEKDAY_OF_MONTH"
                                    name="${classname_yearly_type}" />
                                <span>The</span>
                                <select name="${classname_yearly_weekdayofmonth_index}">
                                    <option selected="selected" value="+1">First</option>
                                    <option value="+2">Second</option>
                                    <option value="+3">Third</option>
                                    <option value="+4">Fourth</option>
                                    <option value="-1">Last</option>
                                </select>
                                <select name="${classname_yearly_weekdayofmonth_day}">
                                {{each weekdays}}
                                    <option value="${$value.id}">${$value.title}</option>
                                {{/each}}
                                    <option value="WEEKDAY">Weekday</option>
                                    <option value="WEEKEND_DAY">Weekend Day</option>
                                </select>
                                <span>of</span>
                                <select name="${classname_yearly_weekdayofmonth_months}">
                                {{each months}}
                                    <option value="${$index+1}">${$value}</option>
                                {{/each}}
                                </select>
                            </li>
                        </ul>
                    </div>

                </div>

                <div style="clear:both;"><!-- --></div>

                <div class="${classname_range}">
                    <label>End recurrance</label>
                    <ul>
                        <li>
                            <input type="radio" value="NO_END_DATE"
                                   name="${classname_range_type}" />
                            <div class="label">No end</div>
                        </li>
                        <li>
                            <input type="radio" value="BY_OCURRENCES"
                                   name="${classname_range_type}" />
                            <div class="label">
                                <span>End after</span>
                                <input type="text" size="3" value=""
                                    name="${classname_range_by_ocurrences}" />
                                <span>occurence(s)</span>
                            </div>
                        </li>
                        <li>
                            <input type="radio" value="BY_END_DATE"
                                   name="${classname_range_type}" />
                            <div class="label">
                                <span>End by:</span>
                                <p>{{tmpl({dateId: classname_range, dateYear: dateYear, months: months,
                                    dateDay: dateDay, dateMonth: dateMonth, }) template.date}}</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div style="clear:both;"><!-- --></div>

                <div>
                    <input type="submit" value="Cancel" class="cancel" />
                    <input type="submit" value="Save" class="save" />
                </div>
            </form>
        </div>
    </script>

    <!--
        `collective.z3cform.dateinput` like template.
         Example data you need to pass:
            { dateId: 'some-unique-per-site-name-for-nameing-classes',
              dateDay: '1', dateMonth: '2', dateYear: '2010' }
    -->
    <script id="collective-z3cform-dateinput-tmpl" type="text/x-jquery-tmpl">
        <input type="text" name="${dateId}_day" size="2" maxlength="2" value="${dateDay}"/> /
        <select name="${dateId}_month">
        {{each months}}
            <option value="${$index+1}"
                {{if $index+1==dateMonth}}selected="selected"{{/if}}>${$value}</option>
        {{/each}}
        </select> /
        <input type="text" name="${dateId}_year" size="4" maxlength="4" value="${dateYear}"/>
        <input type="hidden" class="dateinput_calendar" name="${dateId}_calendar" />
    </script>


</head>

<body>

    <form action="." method="get">

        <div class="field">
            <div class="fieldname_start">
                <label>Start:</label>
                <span class="time"> - 
                    <input type="input" name="fieldname_start_hour" value="10" size="1" /> :
                    <input type="input" name="fieldname_start_min" value="15" size="1" />
                </span>
            </div>
            <div class="fieldname_end">
                <label>End:</label>
                <span class="time"> - 
                    <input type="input" name="fieldname_end_hour" value="21" size="1" /> :
                    <input type="input" name="fieldname_end_min" value="20" size="1" />
                </span>
            </div>
            <script type="text/javascript">
                var conf = {
                    months: ['Jan','Feb','Mar','Apr','May','Jun',
                             'Jul','Aug','Sep','Oct','Nov','Dec'],
                    dateDay: '1', dateMonth: '2', dateYear: '2010'};
                $('div.fieldname_start > label').after(
                    $('#collective-z3cform-dateinput-tmpl').tmpl(
                        $.extend(conf, {dateId: 'fieldname_start'})));
                $('div.fieldname_end > label').after(
                    $('#collective-z3cform-dateinput-tmpl').tmpl(
                        $.extend(conf, {dateId: 'fieldname_end'})));
            </script>
            <div class="fieldname_all_day">
                <input type="checkbox" name="all_day" />
                <label>All Day</label>
            </div>
            <script type="text/javascript">
                $('div.fieldname_all_day > label').click(function() {
                    var input = $(this).parent().find('input');
                    input.click(); input.change();
                });
                $('input[name=all_day]').change(function(e) {
                    if ($(this).is(':checked')) { $('span.time').hide(); }
                    else { $('span.time').show(); }
                });
            </script>
        </div>

        <div class="field fieldname_repeat">
            <textarea name="repeat"></textarea>
            <script type="text/javascript">
                $("textarea[name=repeat]").recurrenceinput();
            </script>
        </div>

        <div class="buttons">
            <input type="submit" name="" value="Submit" />
        </div>

    </form>

</body>

</html>

