.recurrenceinput {
    width: 600px;
    border: 2px solid #ccc;
    margin: 1em;
    font-family: Helvetica;
    padding: 0.5em;
    -moz-border-radius: 5px;
}

.recurrenceinput ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.recurrenceinput ul.freq {
    border-right: 1px solid #000;
    display: block;
    float: left;
    padding-right: 1em;
}

.recurrenceinput ul li {
    margin: 5px 0;
    padding: 0;
}

.recurrenceinput .button a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0.5em;
    background: #6FFFA2;
    -moz-border-radius: 3px;
}

.recurrenceinput .button a:hover {
    background: #2AFF31;
}

.recurrenceinput .button {
    text-align: center;
    color: #000;
    text-decoration: none;

}

.recurrenceinput .rule {
    margin: 1em;
    -moz-border-radius: 5px;
    background: #eee;
    padding: 10px;
}
.recurrenceinput .recurrenceinput-rdate input,
.recurrenceinput .recurrenceinput-exdate input,
.recurrenceinput .recurrenceinput-rdate select,
.recurrenceinput .recurrenceinput-exdate select {
    border:1px solid #ccc;
    font-size:18px;
    padding:4px;
    text-align:center;
    -moz-box-shadow:0 0 10px #eee inset;
    font-size: 14px;
}
.recurrenceinput .freq-options {
    margin: 0;
}

.recurrenceinput .range_start label,
.recurrenceinput .range_end input[type=radio] {
    float: left;
    line-height: 33px;
    margin-right: 5px;
}
.recurrenceinput .range_start {
    float: left;
    width: 48%;
}
.recurrenceinput .range_end {
    float: right;
    width: 52%;
}
.recurrenceinput .range_start p {
    margin: 0;
}

a.remove {
    display: block;
    float: right;
    background: #FF9B9B;
    color: black;
    padding: 10px;
    margin-top: -10px;
    margin-right: -10px;
    -moz-border-radius: 0 5px 0 5px;
}
a.remove:hover {
    background: red;
}
a.caltrigger {
    background: url(cal_icon.jpg);
    height: 33px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
a.caltrigger {
    background-position: 0 32px;
    margin-top: -5px;
    margin-left: 5px;
}
