.recurrenceinput {
    width: 600px;
    border: 1px solid #000;
    margin: 1em;
}
.recurrenceinput .buttons a {
    background: #000;
    color: #FFF;
    text-decoration: none;
    padding: 0.5em;
    margin: 1em;
    display: block;
    float: left;
}
.recurrenceinput .rule {
    margin: 1em;
}
.recurrenceinput .freq {
    border-right: 1px solid #000;
}
