<script>
    <div class="ridisplay">
        <div class="rimain">
            {{if !readOnly}}
                <input type="checkbox" name="richeckbox" />
            {{/if}}            
            <label class="ridisplay">${i18n.displayUnactivate}</label>
            {{if !readOnly}}
                <a href="#" name="riedit">${i18n.edit}</a>
            {{/if}}
        </div>
        <div class="rioccurrences" style="display:none" />
        
    </div>
</script>